{{>header}}
<p>Data for: {{deviceId}}</p>
{{>message}}

<p style="display: none;" id="deviceId"> {{deviceId}}</p>
<section class="temperature">
    <div class="base-container" style="max-width: 60%;">

        <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-vital-signs-data-wgkaa/embed/charts?id=12195330-24ad-4e9f-ad4f-92701cba8e63&autoRefresh=10&theme=light"></iframe>
        <div class="table columns">
            <table class="table ">
                <tr class="pulse-row">
                    <th scope="row">Pulse Rate</th>
                    <td id="pulse">bpm</td>
                </tr>
                <thead>
                    <h5><b>Vital Signs</b></h5>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Current Temperature</th>
                        <td id="temperature"> °C</td>
                    </tr>
                    {{!-- <tr>
                        <th scope="row">Average Temperature(24hrs)</th>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <th scope="row">Average Temperature(7days)</th>
                        <td>0.00</td>
                    </tr> --}}
                    <br>

                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="d-flex">
    <form action="/users/logout" method="POST">
        <button type="submit" class="btn btn-danger">Sign Out</button>
    </form>

</div>
{{>footer}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js"></script>
<script src="/js/chart.js"></script>