<table>
    <thead>
        <tr>Temperature</tr>
        <tr>Humidity</tr>
        <tr>Lux</tr>
        <tr>Air Quality</tr>
        <tr>Flame</tr>
        <tr>Noise</tr>
    </thead>
    <tbody>

    </tbody>
</table>