<h3 id="ward">Patient Monitoring System</h3>

{{>message}}
<section class="home">
    <div class="base-container">
        <div class="header-details-container columns">
            <div class="header">
                <h5>Device Description</h5>
            </div>

            <div class="description">
                <p>This device does continous measurement and display of temprature, relative humidity, niose level and as well, detects fire.
                     </p>
            </div>
        </div>
        <div class="form-container columns">
            <div>
                <h5>Log In</h5>
            </div>
            <hr>
            <form action="/wearable/users/login" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                    <input type="email" class="form-control" required name="email">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                    <input type="password" class="form-control" required name="password">
                </div>
                <p>No account? <a href="wearable/users/signIn">Sign In</a></p>

                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
</section>

<section>
    <hr class="solid">
</section>

<section class="about">
    <div class="base-container">
        <div class="header-details-container columns">
            <div class="header">
                <h5>About</h5>
            </div>
            <div class="description">
                <p>This App is used for monitoring the environmental condition for hospital wards.</p>
            </div>
        </div>

        <div class="img-container columns">
            <img src="/images/about_image.jpg" alt="Alternative Image slides">
        </div>
    </div>
</section>

<section>
    <hr class="solid">
</section>

<section class="contacts">
    <div class="header-details-container">
        <div class="header">
            <h5>Contacts</h5>
        </div>
        <div id="contacts-container">
            <div class="contacts-table columns">
                <table class="table table-striped table-sm">
                    <thead>David Edikan </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Email Address</th>
                            <td>davideddie96@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone number</th>
                            <td>08105848972</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="contacts-table columns">
                <table class="table table-striped table-sm">
                    <thead>Nweke Chidi</thead>
                    <tbody>
                        <tr>
                            <th scope="row">Email Address</th>
                            <td>nwekechidigodwin460@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone number</th>
                            <td>08146027420</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            <div class="contacts-table columns">
                <table class="table table-striped table-sm">
                    <thead>Toyin Hawau Olamide</thead>
                    <tbody>
                        <tr>
                            <th scope="row">Email Address</th>
                            <td>hawau.olamide.th@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone number</th>
                            <td>08176770833</td>
                        </tr>
                        <tr>
                            <th scope="row">Github</th>
                            <td>theehawau.github.io</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="contacts-table columns">
                <table class="table table-striped table-sm">
                    <thead>Ibrahim</thead>
                    <tbody>
                        <tr>
                            <th scope="row">Email Address</th>
                            <td>ibrahim@example.com</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone number</th>
                            <td>07032528460</td>
                        </tr>
                        <tr>
                            <th scope="row">Github</th>
                            <td>xXX</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section>
    <hr class="solid">
</section>
{{>footer}}