body {
	color: #333333;
	font-family: Arial;
	/* max-width: 650px; */
	margin: 0 auto;
	padding: 10px 16px;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}
.main-content {
	flex-grow: 1;
}
.portrait {
	width: 250px;
}
header {
	margin-top: 16px;
	margin-bottom: 48px;
}
header a {
	color: #888888;
	text-decoration: none;
	margin-right: 16px;
}
footer {
	margin-top: 16px;
	padding: 16px 0;
	color: #888888;
	border-top: 1px solid #eeeeee;
}
h1 {
	color: aquamarine;
	font-size: 64px;
	margin-bottom: 16px;
}
input {
	border: 1px solid #cccccc;
	padding: 8px;
}
button {
	cursor: pointer;
	border: 1px solid #888888;
	background-color: #888888;
	color: white;
	padding: 8px;
}
#temperature,
#pulse {
	font-family: "Lato", sans-serif;
	font-size: 124px;
	color: black;
}
@media only screen and (max-width: 768px) {
	body {
		min-width: 95%;
	}
	iframe {
		width: inherit;
	}
}
